@import "tailwindcss";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-800 bg-slate-50;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white rounded px-4 py-2 hover:bg-blue-700 transition;
  }
  .input-field {
    @apply border rounded px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
}
.bg-surface-50 {
  background-color: #f8fafc;
}

.dark .bg-surface-950 {
  background-color: #020617;
}
.bg-surface-0 {
  background-color: #ffffff;
}

.text-primary {
  color: #0e7490 !important; /* Color primario */
}

.btn-cyan {
  background-color: #a5f3fc !important;
  color: #0e7490 !important;
  border: 1px solid #06b6d4 !important;
  transition: all 0.1s ease-in-out !important;
}

.btn-cyan:hover {
  background-color: #6bdbe7 !important;
}

:root {
  --primary-color: #195b8e;
  --primary-hover-color: #003865;
  --text-color: #333;
  --surface-ground: #f4f4f4;
  --font-family: "Poppins", "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}
